body {
  background: white;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

button {
  font-weight: bold;
  font-size: 15px;
  background-color: aquamarine;
}

.container {
  margin-top: 50px;
}

.panel {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 600px;
  min-height: 400px;
}

.text {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
}

#multiplay,
#plus,
#minus,
#divide,
#bracket_left,
#bracket_right,
#procent,
#dot {
  background-color: yellow;
}

#minus,
#dot,
#multiplay {
  font-size: 19px;
}

#result {
  background-color: orange;
  grid-column: span 4;
}

#del,
#AC {
  background-color: red;
}

body.dark {
  background: black;
  color: white;
}

body.dark .theme{
  background: white;
  color: black;
}

body.dark .exit{
  background: white;
  color: black;
}

.theme, .exit{
  margin-top: 250px;
  display: flex;
  position: absolute;
  background-color: black;
  color: white;
  width: 150px;
  height: 75px;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
}
.theme {
  left: 100px;
}

.exit {
  right: 100px;
}
